<div class="heading-sec">
    <div class="row">
        <div class="col-md-12 column">
            <div class="heading-profile">
                <h2>Update Points</h2>
            </div>
        </div>
    </div>
</div>
<form name="productForm" ng-submit="saveProduct(formdata)">
    <div class="widget">
        <div class="form-elements-sec">
            <div class="sec">
                <button class="button button-block button-positive" ng-click="setTournamentPoints()">Update Tournament</button>
           
                <button class="button button-block button-positive" ng-click="setPlyerPoints()">Update Player</button>
            </div>
        </div>
    </div>
</form>